<p>
  your supaspy link is:
</p>
<p>
  <input type="text" value="<%= @supaspy_link %>" class="supaspy_link" readonly="readonly"/>
</p>
<p>
  or you can use equivalent from url shortener:
</p>
<p>
  <input type="text" value="<%= @supaspy_link_short %>" class="supaspy_link" readonly="readonly"/>
</p>
<!--
<p>
  What else you can do here?
</p>
<p>
  <a href="#" id="done" class="button">
    Send the link right now with supaspy sender
  </a>
</p>
-->
