
<form method="POST" action="/create">
  <p class="url">
    <input type="text" name="urls[]" value="http://" class="url" maxlength="120"/>
  </p>
  <small class="hint">
    hit Enter for new url, remove with Backspace
  </small>
  <p>
    <input type="text" name="mail" value="mail" class="mail"/>
  </p>
</form>

