			<form id="urls" method="POST" action="/create">
				<ul>
					<li>
						<input type="text" name="url[]" value="http://"/>
					</li>
				</ul>
				<input type="text" name="mail" />
				<br />
				
				<a href="#" id="ready">
					ready
					<span class="que">?</span>
					<span class="yes">!</span>
				</a>
			</form>

      <div id="spyset"></div>
