<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SupaSpy</title>
  <link rel="stylesheet" href="/reset.css" />
  <link rel="stylesheet" href="/stylesheet.css" />
</head>
<body>
  <div id="wrapper">

    <%= yield %>
    
    <div class="content-floor">
      <span class="content-door">
        *
      </span>
      <div class="content-anteroom">
        <p>
          Don't be afraid of your email, your friend email, the results or anything else.
        </p>
      </div>
			<div class="content-sitting-room">
        <p>
          Supaspy does <strong>NOT</strong>:<br/>
          - sell email addresses to viagra shops<br/>
          - share results with anyone but you two<br/>
          - interest in IP addresses or cookies<br/>
          <%#- install anything on your hdd<br/>%>
        </p>
			</div>
    </div>
    <div class="content-floor">
      <span class="content-door">
        @
      </span>
      <div class="content-anteroom">
        <p>
          Questions,  
          suggestions, 
          complaints,
          anything?
        </p>
      </div>
			<div class="content-sitting-room">
        supaspy@supaw.eu
			</div>
    </div>
    <div class="content-floor">
    </div>
  </div>

  <% yield_content :custom_scripts %>

</body>
</html>
