
$clr_text: #999;
$clr_text_active: #666;

$clr_bg: #ddd;

$clr_power: #00A0C6;

/* http://www.colourlovers.com/palette/90734/Newly_Risen_Moon */

$clr_text: #696758;
$clr_text_active: #36393B;

$clr_bg: #C5BC8E;
$clr_body_bg: #fff;;

$clr_power: #00A0C6;

/* http://www.bucchake.com/2012/ */

$clr_body_bg:#fff;
$clr_bg:#DCDCDC;

$clr_power:#4C93B5;

$clr_text:#8B8B8B;
$clr_text_active:#606060;

$clr_power_green:#5DA326;



body {
    font-size:small;
    font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
    font-family:monospace,helvetica, arial, sans-serif;
    font-family:'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-family:'Menlo', 'Courier New', 'Terminal', monospace;
    //font-family:"Reader Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
    background:$clr_body_bg;
}
  * html body { font-size:x-small; }

    body {
      text-align:center;
      margin:0;
      padding:0;
    }

    p { line-height:150%; }
    a { text-decoration:none;color:$clr_text_active; }
    strong { font-weight:bold;}
    small { font-size:80%; }

    #wrapper {
      width:900px;
      margin:0 auto;
      text-align:left;
      background:url(/grey2.gif) left repeat-y;
    }

    .content-floor {
      clear:both;
      position:relative;
      color:$clr_text;
    }
      .content-floor-active { color:$clr_text_active; }

      .content-door {
        padding-top:20px;
        float:left;
        width:100px;
        text-align:right;
        font-size:500%;
        color:$clr_bg;
        text-align:right;
        }
        .content-door a { color:$clr_bg; }

        .content-door a:hover,
        .content-floor:hover .content-door,
        .content-floor-active .content-door { color:$clr_power; }


      .content-anteroom {
        padding-top:20px;
        float:left;
        width:200px;
        font-size:80%;
        color:$clr_text;
        /*background:$clr_bg;*/
      }
        .content-floor:hover .content-anteroom,
        .content-floor-active .content-anteroom { color:$clr_text_active; }

        h1 {
          margin: 10px 0 0 5px;
          line-height:500%;
          letter-spacing:5px;
        }

        .content-anteroom p { margin: 8px; }

      .content-sitting-room {
        padding-top:20px;
        float:left;
        padding-left:20px ;
        width:550px;
        border-width:2px 0;
      }
        .content-sitting-room p { margin: 6px 0 0 0 ; }
        /*.content-floor:hover .content-sitting-room,*/
        /*.content-floor-active .content-sitting-room { border-color:#ddd; }*/

/*forms*/

  input {
    border:2px solid $clr_bg;
    width:250px;
    padding:4px;
    margin:2px 0;
    background:$clr_body_bg;
    color:$clr_text;
  }
    input:focus {
      border-color:$clr_power;
      color:$clr_text_active;
    }

    .url input { width:500px; }
    .supaspy_link { 
      width:500px; 
      font-size:150%;
      color: $clr_power;
      border-style:dotted;
    }

  .button {
    background-color: $clr_bg;
    border: 0 none;
    color: $clr_text_active;
    cursor: pointer;
    padding: 3px 5px;
    vertical-align: middle;
    /*text-decoration:none;*/
  }
    .button:hover {
      background-color:$clr_power;
      color:#eee;
    }

    .button:hover .ques, .excl {display:none;}
    .button:hover .excl, .ques {display:inline;}


  .hint { }

  /*results*/

#results a { 
  display:block;
  margin:10px 0;
  font-size:120%;
  color:$clr_text; 
  text-decoration: line-through;

}
#results a:visited { 
  color:$clr_power_green; 
  text-decoration:none;
}

